@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

.startup {
  font-family: 'Nunito', sans-serif;
  max-width: 38rem;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startup > * {
  margin-bottom: 1em;
  text-align: center;
}
