@import '../../assets/styles/_config.scss';
.itemform {
    display: flex;
    flex-direction: column;
  }
  .itemform_row {
    display: flex;
  }
  .itemform_row > div {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0.5rem 0.3rem;
    width: 100%;
  }
  .itemform input, .itemform select {
    padding: 0.5rem;
    border: 1px solid $color-neutral; 
    border-radius: 0.3rem;
    font-size: 1.2rem;
    outline: none;
  }
  .itemform label {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }
        