@import '../../assets/styles/_config.scss'; 
.menu {
    background-color: $color-neutral-darker;
    color: $color-neutral-lighter;
    max-height: 4rem;
    min-height: 4rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .menu > div {
    display: flex;
    align-items: center;
  } 
  .menu a {
    color: $color-neutral-light;
  
    &:global.active {
      color: $color-neutral-lightest;
    }
  }
  