@import '../../assets/styles/_config.scss';

.item_data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.75rem;
    flex: 1;
  }  
  .item {
    color: $color-neutral-dark;
    border-bottom: 1px solid $color-neutral-light;
    display: flex;
  }   
  .item_amount, .item_timespan, .item_average {
    text-align: right;
  } 
  .item_type, .item_amount {
    color: $color-neutral-darkest;
    font-weight: bold;
  }
  .item_edit {
    max-width: 2rem;
    min-width: 2rem;
    background-color: $color-neutral-lighter;
    color: $color-neutral-dark;
    font-size: 1.75rem;
    display: none;
    justify-content: center;
    align-items: center;  
  }
  .item:hover .item_edit {
    display: flex;
  }
  