@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.root {
  font-family: 'Open Sans', sans-serif;
}

.root_app {
  max-width: 38rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.root_app > * {
  flex: 1 1 auto;
}
