// Värimäärittelyt 
// generoitu sivustolla https://coolors.co/2d2d2a-696963-e1e1df-5f6b81-c14953 
$color-primary: #274961;
$color-secondary: #3cad8f;
$color-neutral-darkest: #0f0b20;
$color-neutral-darker: #10142edd;
$color-neutral-dark: #696963;
$color-neutral: #888881;
$color-neutral-light: #C4C4C0;
$color-neutral-lighter: #E1E1DF;
$color-neutral-lightest: #FFFFFF;
// Muut määrittelyt
$container-padding: 2rem;
